.profile__edit-button {
  background-image : url("../../../images/vector.svg");
  background-color:rgba(0, 0, 0, 1);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin-left: 18px;
  cursor: pointer;
}
