.popup__content{
  max-width: 430px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
}
@media screen and (max-width: 768px){
  .popup__content{
    max-width: calc(100% - 19px*2);
    margin: 0 auto;
  }
}
