.popup__close{
  width: 40px;
  height: 40px;
  background: url("../../../images/closeIcon.svg");
  border: none;
  background-size: 40px 40px;
  position: absolute;
  top: -36px;
  right: -36px;
  cursor: pointer;
}
.popup__close:hover{
  opacity: 0.6;
  transform: rotate(45deg);
}
@media screen and (max-width: 768px){
  .popup__close{
    right: 0;
    top: -50px;
  }
}
