.profile__add-button {
  background-image: url("../../../images/vector_plus.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color:rgba(0, 0, 0, 1);
  min-height: 50px;
  min-width: 150px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left: auto;
}
.profile__add-button:hover{
  opacity: 0.6;
}
@media screen and (max-width: 1024px) {
  .profile__add-button {
    margin: auto;
    min-width: 282px;
  }
}
