.header {
  width: calc(100% - 200px * 2);
  margin: 45px auto 0 auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }
}
